@import "styles/root";

.Main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: auto;
  margin: 0 119px $base-spacing*6;

  @media #{$tablet} {
    margin: 0 50px $base-spacing*6;
  }

  @media #{$mobile} {
    margin: 0;
  }
}

.Titles {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$mobile} {
    width: 100%;
  }
}

.Description {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $base-spacing;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #000000;

  @media #{$mobile} {
    display: none;
  }

  span {
    color: #FF005C
  }
}

.Title {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $base-spacing*3;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #000000;
  margin: 40px 0;

  @media #{$tablet} {
    font-size: $base-spacing*2;
  }

  @media #{$mobile} {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    padding: 0 24px;
    margin: 0;
  }
}

.Button {
  width: $base-spacing*14;
  height: $base-spacing*4;
  background: #000;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $base-spacing;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #FFFFFF;
  border: none;
  margin-top: 40px;
  cursor: pointer;

  @media #{$tablet} {
    margin: 0 auto;
  }

  @media #{$mobile} {
    margin: 25px auto 0;
    width: 165.74px;
    height: 55px;
    font-size: 14px;
  }
}

.Image {
  width: $base-spacing*38;
  height: $base-spacing*38;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/main-image.png");

  @media #{$tablet} {
    width: 40vw;
    height: 40vw;
    margin: 40px auto 0;
  }

  @media #{$mobile} {
    display: none;
  }
}